<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pokedex Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body style="width: 100vw; height: 100vh">


<div class="container w-100 d-flex flex-column align-items-center">
	<p class="h1 text-center mt-5">Login</p>
	
	<form method="POST" th:action="@{/login}" class="mb-3">
		
		<div class="mb-3">
			<label for="username" class="form-label">Username</label>
			<input type="text" name="username" id="username" class="form-control">
		</div>
		
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" name="password" id="password" class="form-control">
		</div>
		
		<!--		form buttons    -->
		
		<input type="submit" class="btn btn-primary">
		<a th:href="@{/register}" class="btn btn-outline-danger">Sign up Now</a>
	</form>
	
	<!--	If errorPresent during Login attempt, display security messages   -->
	
	<div th:if="${errorPresent}" class="text-danger">
		<div th:each="errorMessage: ${errorMessages}">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous">


</script>

</body>
</html>