<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>My Favorites</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="shortcut icon" href="/app-favicon.ico" type="image/x-icon">
</head>
<body style="padding-top: 100px; background-color: #F5F5FF">
<nav class="navbar navbar-dark navbar-expand-md navbar-light bg-primary bg-gradient position-fixed top-0 w-100"
	 style="z-index: 1">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="/logo.png" width="auto" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
				
				<li class="nav-item text-white">
					<a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
				</li>
				
				<li sec:authorize="isAuthenticated()" class="nav-item text-white">
					<a class="nav-link active" aria-current="page" th:href="@{/user/favorites}">My Faves</a>
				</li>
				
				<li sec:authorize="isAnonymous()" class="nav-item text-white">
					<a class="nav-link" th:href="@{/login}">Login</a>
				</li>
				
				<li sec:authorize="isAnonymous()" class="nav-item text-white">
					<a class="nav-link" th:href="@{/register}">SignUp</a>
				</li>
				
				<li sec:authorize="isAuthenticated()" class="nav-item text-white">
					<form class="nav-link" th:action="@{/logout}" th:method="POST">
						<button class="p-0 m-0 bg-transparent border-0"
								style="background: none; color: inherit; font: inherit;">
							Logout
						</button>
					</form>
				</li>
			</ul>
			<!--			Search Box	-->
			<form class="d-flex" th:action="@{/search}" method="GET">
				<input class="form-control me-2" type="text" name="search" placeholder="Search Pokemon">
				<button class="btn btn-warning" type="submit">
					Search
				</button>
			</form>
		
		</div>
	
	</div>
</nav>

<img src="/favorite-logo.png" height="250" width="auto" class="d-block m-auto" alt="">


<!-- cards-->
<div class="container">
	<div class="row g-4">
		<div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="pokemon: ${favoritePokemon}">
			
			<div class="card shadow bg-body rounded h-100" style="background-color: #F8F9FA">
				
				<img th:src="${pokemon.sprite}" alt="image of pokemon" class="card-img-top"
					 style="background-color: #E3F2FD">
				
				<div class="card-body">
					
					<h1 th:text="${pokemon.name}" class="card-title text-uppercase text-primary h3 mb-3"></h1>
					
					<div class="card-text row justify-content-around mb-3">
						
						<div class="col-3 d-flex flex-column align-items-center">
							<h5 class="text-primary fw-bold">HP</h5>
							<p class="text-secondary fw-semibold m-0" th:text="${pokemon.HP}">99</p>
						</div>
						
						<div class="col-3 d-flex flex-column align-items-center">
							<h5 class="text-danger fw-bold">ATK</h5>
							<p class="text-secondary fw-semibold m-0" th:text="${pokemon.attack}">99</p>
						</div>
						
						<div class="col-3 d-flex flex-column align-items-center">
							<h5 class="text-success fw-bold">DEF</h5>
							<p class="text-secondary fw-semibold m-0" th:text="${pokemon.defense}">99</p>
						</div>
					</div>
					<div class="container-fluid mb-5">
						<div class="row">
							<div class="col-6">
								<img class="w-100" th:src="${typeIcons.get(pokemon.getPrimaryType().toLowerCase())}"
									 alt="">
							</div>
							
							<div class="col-6" th:if="${pokemon.getSecondaryType() != null}">
								<img class="w-100" th:src="${typeIcons.get(pokemon.getSecondaryType().toLowerCase())}"
									 alt="">
							</div>
						</div>
					</div>
					
					<form th:action="@{/user/favorites}" th:method="POST">
						<input type="hidden" name="pokemonId" th:value="${pokemon.id}">
						<input type="hidden" name="_method" th:value="DELETE">
						<button CLASS="btn btn-danger d-flex align-items-center justify-content-around w-50"
								type="submit">DELETE
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="currentColor"
								 class="bi bi-trash3-fill ms-3" viewBox="0 0 16 16">
								<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
							</svg>
						</button>
					</form>
				</div>
			
			
			</div>
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous">


</script>
</body>
</html>